<launch>
  <param name="/use_sim_time" value="true"/>
  <node name="map_server" pkg="map_server" type="map_server" args="/home/marcel/Documents/Robotics-CS3027/catkin_ws/src/viki/map.yaml" />
  <node name="stage" pkg="stage_ros" type="stageros" args="/home/marcel/Documents/Robotics-CS3027/catkin_ws/src/viki/map.world" />
  <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="64 0 0 0 0 0 1 odom map 100"  /> 
</launch>
